<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 

<body class="home">
    <%- include("./partials/header") %> 
 <main class="home__main">
    <section class="home__main__section--products general__main__section">
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-01.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/product/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-02.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/product/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-03.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/product/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-01.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/product/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-02.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/product/detail">ver más</a>
        </article>
        <article class="home__main__section__article--product">
            <figure>
                <img src="/images/img-phone-03.jpg" alt="">
            </figure>
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium maiores doloribus aliquid possimus quae debitis?</p>
            <a class="general__button__product " href="/product/detail">ver más</a>
        </article>
    </section>
    <aside class="home__main__aside">
        <section class="home__main__aside__section--tutoriales">
            <h2>Tutoriales</h2>
            <article>
                <img src="/images/aside-01.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-02.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-03.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
            <article>
                <img src="/images/aside-04.jpg" alt="">
                <p>Título del tutorial de reparación</p>
            </article>
        </section>
        <section class="home__main__aside__section--publicidad">
            <h2>Publicidad</h2>
            <article>
                    <img src="/images/ad-01.jpg" alt="">
                    <img src="/images/ad-02.jpg" alt="">
            </article>
           
        </section>
    </aside>
 </main>
</body>
</html>